__pycache__

*.txt

*.pt

*.png

*.pkl

*.svg

*.log

*.pdb

*.npy

*.ckpt

baselines

datasets

pretrain

run_logs

testing_scripts
scripts

trainers/deprecated
models/deprecated

plip/

case_studies/_*
checkpoints
data/other
utils/_*

# Force include the specific file
!/data/tokenizer/vocabs/ps_vocab_300.txt
!/data/tokenizer/vocabs/ps_vocab_500.txt