__pycache__

*.txt

*.pt

*.png

*.pkl

*.svg

*.log

*.pdb

*.npy

*.ckpt

*.sh

*.fasta

*.gml

*.csv

*.tsv

*.gexf

*.yaml

*.sdf

*.parquet

baselines

datasets

pretrain

run_logs

testing_scripts
scripts

trainers/deprecated
models/deprecated

plip/

case_studies/_*
checkpoints
data/other
utils/_*

# Force include the specific file
!/data/tokenizer/vocabs/ps_vocab_300.txt
!/data/tokenizer/vocabs/ps_vocab_500.txt

# Other files
visualise_interactions.ipynb
data/example/test_example.ipynb
data/mmap_dataset.py
interaction_profiler/*
src/atomica.egg-info
third_party